.Player {
    width: 250px;
    background-color: #eee;
    box-shadow: 1px 2px #aaa;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

/* gerne wechselnde Farben */
.Player button {
    margin: auto 3px;
    height: 30px;
    border-radius: 10px;
    }